<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../css/bootstrap.min.css" rel="stylesheet" media="all"/>

<h1 class="display-4">Your experience at {{t}}</h1>
<div class="jumbotron"  style="background-image: url(../img/home1.jpg);>
  
  <h1 class="display-4">You score: {{r}}</h1>
  <hr class="my-4">
  <p>{{d}}</p>
</div>

<div class="container">
    <div class="col-md-4 px-0">
        <img src="/img/coff2.jpg" class="img-thumbnail">
    </div>
    <div class="col-md-4 px-30">
        <img src="/img/coff.jpg" class="img-thumbnail">
    </div>
        <div class="col-md-4 px-60">
        <img src="/img/list.jpg" class="img-thumbnail">
    </div>
</div>